Source: netdata
Section: net
Priority: optional
Maintainer: Lennart Weller <lhw@ring0.de>
Uploaders:
 Federico Ceratto <federico@debian.org>,
 Daniel Baumann <daniel.baumann@progress-linux.org>,
Build-Depends:
 debhelper (>= 12~),
 freebsd-glue [kfreebsd-amd64 kfreebsd-i386],
 pkg-config,
 uuid-dev,
 zlib1g-dev,
Rules-Requires-Root: no
Standards-Version: 4.3.0
Homepage: https://github.com/netdata/netdata
Vcs-Browser: https://salsa.debian.org/debian/netdata
Vcs-Git: https://salsa.debian.org/debian/netdata.git

Package: netdata
Architecture: any
Depends:
 adduser,
 libcap2-bin,
 lsb-base,
 netdata-data (=${source:Version}),
 python3,
 python3-six,
 python3-urllib3 (>= 1.22),
 python3-yaml,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 curl,
 fping,
 nodejs,
Description: real-time performance monitoring
 Netdata is distributed, real-time, performance and health monitoring for
 systems and applications. It provides insights of everything happening on the
 systems it runs using interactive web dashboards.
 .
 It can run autonomously without any third party components or it can be
 integrated to existing monitoring tool chains (Prometheus, Graphite,
 OpenTSDB, Kafka, Grafana, etc).

Package: netdata-data
Architecture: all
Multi-Arch: foreign
Depends:
 fonts-font-awesome,
 libjs-bootstrap,
 ${misc:Depends},
Recommends:
 netdata (=${source:Version}),
Description: real-time performance monitoring (data)
 Netdata is distributed, real-time, performance and health monitoring for
 systems and applications. It provides insights of everything happening on the
 systems it runs using interactive web dashboards.
 .
 This package contains the architecture independent data.
