Source: netdata
Section: net
Priority: optional
Maintainer: Lennart Weller <lhw@ring0.de>
Uploaders:
 Federico Ceratto <federico@debian.org>,
 Daniel Baumann <daniel.baumann@progress-linux.org>,
Build-Depends:
 debhelper (>= 12~),
 pkg-config,
 uuid-dev,
 zlib1g-dev,
Rules-Requires-Root: no
Standards-Version: 4.3.0
Homepage: https://github.com/netdata/netdata
Vcs-Browser: https://salsa.debian.org/debian/netdata
Vcs-Git: https://salsa.debian.org/debian/netdata.git

Package: netdata
Architecture: any
Depends:
 adduser,
 libcap2-bin,
 lsb-base,
 netdata-data (=${source:Version}),
 python3,
 python3-six,
 python3-urllib3 (>= 1.22),
 python3-yaml,
 ${misc:Depends},
 ${misc:Pre-Depends},
 ${shlibs:Depends},
Recommends:
 curl,
 fping,
 nodejs,
Description: real-time charts for system monitoring
 Netdata is a daemon that collects data in realtime (per second)
 and presents a web site to view and analyze them. The presentation
 is also real-time and full of interactive charts that precisely
 render all collected values.

Package: netdata-data
Architecture: all
Multi-Arch: foreign
Depends:
 fonts-font-awesome,
 libjs-bootstrap,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 netdata (=${source:Version}),
Description: real-time charts for system monitoring (Data)
 Netdata is a daemon that collects data in realtime (per second)
 and presents a web site to view and analyze them. The presentation
 is also real-time and full of interactive charts that precisely
 render all collected values.
 .
 This package contains all the architecture independent data
