Source: netdata
Section: unknown
Priority: optional
Maintainer: Federico Ceratto <federico@debian.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/firehol/netdata
Vcs-Git: https://anonscm.debian.org/collab-maint/netdata.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/netdata.git

Package: netdata
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Real-time performance monitoring
 <insert long description, indented with spaces>
