# netdata systemd target

[Unit]
Description=netdata - Real-time performance monitoring
Documentation=man:netdata
Documentation=file:///usr/share/doc/netdata/html/index.html
Documentation=https://github.com/firehol/netdata
After=network.target httpd.service squid.service nfs-server.service mysqld.service named.service postfix.service
Wants=network-online.target
ConditionPathExists=/etc/netdata/netdata.conf

[Service]
Type=simple
Environment="netdata_LOG_LOCATION=/var/log/netdata/log"
ExecStart=/usr/sbin/netdata -nd
ExecReload=/usr/sbin/netdata reload
TimeoutStopSec=10
KillMode=mixed
KillSignal=SIGTERM

User=netdata
Group=netdata
PermissionsStartOnly=true
Restart=on-abnormal
RestartSec=2s
LimitNOFILE=65536

WorkingDirectory=/tmp

# Hardening
# AppArmorProfile=system_netdata
# CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_CHOWN CAP_FOWNER
NoNewPrivileges=yes
#PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
# TODO: restrict ReadOnlyDirectories
ReadOnlyDirectories=/
ReadWriteDirectories=-/proc
ReadWriteDirectories=-/run
ReadWriteDirectories=-/var/log/netdata
ReadWriteDirectories=-/var
ReadWriteDirectories=-/var/cache
ReadWriteDirectories=-/var/cache/netdata
ReadWriteDirectories=-/var/run

[Install]
WantedBy=multi-user.target



